<h2><%= kittens.length %> kittens</h2>

<%if (page > 1) { %>
    <a href="/kittens/page/<%= page - 1 %>">Previous</a>
<% } %>

<%if (page > 0) { %>
    <a href="/kittens/page/<%= page + 1 %>">Next</a>
<% } %>

<ul>
    <% kittens.forEach(function(kitten){ %>
      <img src=<%= kitten.image %> />
      <h3><%= kitten.name %></h3>
    <% }); %>
</ul>